.fullscreen
{
    background-color: rgba(255, 255, 142, 0.718);
    height: 500px;
    margin: auto;
    width: 415px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.calc-buts
{
    width: 40px;
    margin: 30px;
    height: 40px;
    border-radius: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: aliceblue;
    border-style: solid;
    border-color: rgb(255, 241, 216);
    color: rgba(31, 0, 59, 0.785);

}
.calc-buts:active
{
    background-color: wheat;
}
.InputSec
{
    padding-right: 10px;
    text-align: right;
    direction: rt1;
    margin-top: 25px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 246, 230, 0.689);
    resize: none;
    border-radius: 5px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.InputSec:focus
{
    outline-width: 2px;
    outline-color: rgb(255, 184, 71);
    align-items: center;
    list-style:armenian;
    line-height: 30px;
    caret-color: transparent;
    overflow:hidden;
    resize: none;
    white-space: no-wrap;
}
body
{
    margin-top: 50px;
    background: linear-gradient(to right, rgba(237, 237, 0, 0.607), #2affd18e);
}